html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#app {
  width: 100%;
  min-width: 100vh;
  height: 100%;
}

// layout
.layout {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;

  &-menu {
    width: 200px;
    height: 100%;
  }

  &-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    background: #f5f7fa;

    .layout-header {
      z-index: 1;
      width: 100%;
      min-width: 650px;
      height: 48px;
      background-color: #fff;

      // box-shadow: 0 1px 2px 0 rgba(9,18,26,0.06), 0 4px 8px 0 rgba(39,56,73,0.08);
      box-shadow: 0 2px 12px 0 rgb(31 22 67 / 20%);
    }

    .layout-breadcrumb {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding-left: 20px;
      line-height: 40px;
      background-color: transparent;
    }

    .layout-content {
      box-sizing: border-box;
      display: flex;
      flex: 1;
      overflow: hidden;

      .component-flex-full {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
      }

      .component-flex-page {
        flex: 1;
        padding: 8px 16px;
        margin: 0 16px;
        overflow: auto;
        background: #fff;
      }

      .component-flex-footer {
        padding: 10px 0;
        padding-left: 120px; // Can be rewritten according to the label width of each page
        background: #f5f7fa;
      }
    }
  }
}

a {
  text-decoration: none;
}

/* my custom */
input {
  background: none;
  border: none;
  outline: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
